body{
    background-image: url(https://img.freepik.com/free-photo/grunge-vintage-old-paper-background_1373-431.jpg?size=626&ext=jpg&ga=GA1.1.1790111831.1689652667&semt=ais);
    background-repeat: no-repeat;
    height:100%;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    width:100%;
}
#pa{
  color:black;
}
*{
    margin:0;
    padding:0;
}
.he{
    width:100%;
    
    height:110px;
   background-image: url(https://img.freepik.com/free-vector/abstract-mandala-banners_1005-2.jpg?size=626&ext=jpg&ga=GA1.1.1790111831.1689652667&semt=ais);
   border-radius: 2%;
   mix-blend-mode:multiply;
   object-fit:cover;
   display:block;
   background-repeat: repeat;
   background-position:left;
   box-shadow: 20px 0 20px 20px beige inset ;
   image-resolution:from image 300dpi;
}
.pad{
text-align: center;
font-size: 45px;
text-shadow:2px 2px goldenrod;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
hr{
    height: 4px;
    background-color: antiquewhite;
    border-color: antiquewhite;
}
.main{
    width: 650px;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

}
.cul{
    width:80%;
    height:95px;
  
   background-image: url(https://img.freepik.com/premium-photo/national-handloom-day-india-celebration-concept-typography-vector-illustration-generative-ai_756405-15734.jpg?w=1060);
   margin-left: auto;
   margin-right: auto;
   padding: 50px;
  image-resolution:from image 300dpi;
color:bisque;
   display:block;
   border-radius: 6%;
   background-repeat: no-repeat;
   background-position:left;
   box-shadow: 0 0 20px 0 rgb(84, 11, 11);
   background-size:45%;
}
.art{
    width:80%;
    height:95px;
   background-image: url(https://img.freepik.com/free-vector/multicolor-floral-background_1265-179.jpg?size=626&ext=jpg&ga=GA1.2.1790111831.1689652667&semt=ais);
   margin-left: auto;
   margin-right: auto;
   background-position:left;
   padding: 50px;
   image-resolution:from image 300dpi;
   background-size:45%;
  display:block;
  border-radius: 6%;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px 0 rgb(84, 11, 11);
  color:bisque;
 }
 .her{
    width:80%;
    height:95px;
   background-image: url(https://img.freepik.com/free-vector/agra-india-skyline-with-panorama-white-background-vector-illustration-business-travel-tourism-concept-with-modern-buildings-image-banner-website_596401-143.jpg?w=1060&t=st=1693995701~exp=1693996301~hmac=23d26993969286e47339a470fd0b51ae62bc6039c6f13f2456c4f2cc3dcd5ab7);
   margin-left: auto;
   margin-right: auto;
   padding: 50px;
   image-resolution:from image 300dpi;
   background-size:cover;
   display:block;
   border-radius: 6%;
   background-repeat: no-repeat;
   background-position:left;
   box-shadow: 0 0 20px 0 rgb(84, 11, 11);
   color:bisque;
  }

.her img{
    height:fit-content;
    mix-blend-mode: multiply;
    object-fit: contain;
     width:fit-content;
    display:block;

}
h3{
    text-align: right;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
            text-emphasis-color: transparent;
            margin-bottom: 20%;
   
}
h5{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

  
 drws {
   height: 100%;
    width: 90vw;
    image-resolution: from image 300dpi;
    border-radius: 3px;
    box-shadow: 0 2px 2px 2px black
    
}
.drw{
    background-image: url(https://img.freepik.com/free-photo/vintage-grunge-paper-background_1048-10911.jpg?w=360&t=st=1694097446~exp=1694098046~hmac=54bdaf99d1e6afef19c2b0e0d57964c99fb59b26f4b75ff2ba8698f125ced970);
    background-repeat: no-repeat;
    height:100%;
    background-size:cover;
}
.pop{
    text-align: center;
    text-shadow:4px 4px ghostwhite;
    font-size: 50px;
}
abbr{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pop1{
    text-align: center;
    width: 65%;
    height: 300px;
    image-resolution: from image 300dpi;
    border-radius: 3px;
    /* box-shadow: 0 2px 2px 2px black;
   
}
.an{
    font-size: 20px;
    color:black;
}
.ann{
    font-size: 25px;
}
.circle{
    position: fixed;
    bottom:160px;
    right:500px;
    border-radius: 50%;
    width:200px;
    height:250px;
    color:blanchedalmond;
}
.para{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.chng{
    width:80%;
    height:95px;
   background-image: url(https://img.freepik.com/free-photo/india-gate-mornings_181624-17306.jpg?w=900&t=st=1694180445~exp=1694181045~hmac=61ee0995661b3ef1fabdc87578eefe32b05ca9c9cd868f8f0117b2e263d1bfb8);
   margin-left: auto;
   margin-right: auto;
   padding: 50px;
   image-resolution:from image 300dpi;
   background-size:cover;
   display:block;
   border-radius: 2%;
   background-repeat: no-repeat;
   background-position:center;
   box-shadow: 20px 0 20px 20px rgb(195, 170, 140) inset ;
}
.chngs{
  width:80%;
  height:95px;
 background-image: url(https://img.freepik.com/free-vector/background-template-design-with-mandala-patterns_1308-42779.jpg?size=626&ext=jpg&ga=GA1.2.1790111831.1689652667&semt=ais);
 margin-left: auto;
 margin-right: auto;
 padding: 50px;
 image-resolution:from image 300dpi;
 background-size:cover;
 display:block;
 border-radius: 2%;
 background-repeat: no-repeat;
 background-position:center;
 box-shadow: 20px 0 20px 20px rgb(195, 170, 140) inset ;
}
 .pop {
  color:blanchedalmond;
    text-align: center;
    text-shadow:4px 4px yellow;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .brk

  .left
  {
    float:left;
  }
  .right{
    float:right;
    text-align:right;
  }

 figcaption{
  text-align: center;
 }


.oo{
  text-align: center;
 font-size:25px;
 border:2px solid black;

 .chngss{
  width:80%;
  height:95px;
 background-image: url(https://img.freepik.com/free-vector/gradient-vasant-panchami-festival-illustration_23-2149967341.jpg?size=626&ext=jpg&ga=GA1.2.1790111831.1689652667&semt=ais);
 margin-left: auto;
 margin-right: auto;
 padding: 50px;
 image-resolution:from image 300dpi;
 background-size:cover;
 display:block;
 border-radius: 2%;
 background-repeat: no-repeat;
 background-position:center;
 box-shadow: 20px 0 20px 20px rgb(195, 170, 140) inset ;
 }
